.section-login {
  padding: 24px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.section-login img {
  width: 94px;
  height: 105px;
}

.section-login form {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.section-login input {
  width: 100%;
  height: 40px;
  border: 0px;
  box-sizing: border-box;

  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
  border-radius: 67px;
}

.section-login input:focus {
  outline: none !important;
  border:1px solid #85296B;
}

.section-login input[type="tel"] {
  padding: 0px 24px;
}

.section-login input[type="password"] {
  padding: 0px 24px;
}

.section-login input[type="submit"] {
  margin-top: 8px;
  background: #85296B;
  color: #fff;
  font-family: 'Avenir'!important;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
}

.section-login .error {
  margin-top: -16px;
  margin-bottom: -8px;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #E62828;
}

.section-login .navigation {
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #2F2F2F;
}

.section-login .navigation b {
  color: #85296B;
  cursor: pointer;
}

.footer-helper {
  width: 100%;
}

.parent-login {
  min-height: calc(100vh - 308px);
}