.section-home {
  text-align: center;
}

.section-home .profile-picture {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin-top: 32px;
}

.section-home p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #295985;
}

.section-home b {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
}

.section-point {
  margin: 8px 20px 48px 20px;
  padding: 16px 0px 24px 0px;
  background-color: #fff;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}

.section-point p {
  margin: 0;
}

.section-point b {
  color: #85296B;
}

.section-point button {
  margin-top: 16px;
  width: 70%;
  height: 40px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 77px;
  border-width: 0;
  cursor: pointer;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;


  color: #FFFFFF;
}

.section-point .add {
  background: #85296B;
}

.section-point .detail {
  background: #D36EB7;
}