.section-menu {
  position: absolute;
  width: 233px;
  min-height: 100vh;
  background: #85296B;
  padding-left: 24px;

  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}

.section-menu button {
  cursor: pointer;
  margin-top: 40px;
  width: 40%;
  height: 40px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 77px;
  border-width: 0;
  cursor: pointer;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 22px;

  background: #FFFFFF;
  color: #85296B;
}

/* custom */
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.vertical-tab{
    font-family: 'Montserrat', sans-serif;
    display: table;
}
.vertical-tab .nav-tabs{
    width: 27%;
    min-width: 27%;
    border: none;
    vertical-align: top;
    display: table-cell;
}
.vertical-tab .nav-tabs li{ float: none; }
.vertical-tab .nav-tabs li a{
    color: #222;
    background: #e7e7e7;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 10px 20px 9px;
    margin: 0 5px 10px 0;
    border: none;
    border-radius: 50px 100px/100px 50px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0.15s;
}
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
    color: #fff;
    background: #ac40ab;
    border: none;
}
.vertical-tab .nav-tabs li a:before{
    content: "";
    background: #ac40ab;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: scale(0);
    position: absolute;
    bottom: -4px;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.vertical-tab .nav-tabs li a:hover:before,
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li.active a:hover:before{
    transform: scale(1);
}   
.vertical-tab .tab-content{
    color: #222;
    background: #e7e7e7;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px 25px;
    border-right: 5px solid #ac40ab;
    border-bottom: 5px solid #ac40ab;
    border-radius: 20px 70px/70px 20px;
    display: table-cell;
}
.vertical-tab .tab-content h3{
    color: #ac40ab;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 7px;
}
@media only screen and (max-width: 479px){
  .vertical-tab .nav-tabs{
      width: 100%;
      display: block;
  }
  .vertical-tab .nav-tabs li a{
      padding: 14px 10px 10px;
      margin: 0 0 10px;
  }
  .vertical-tab .tab-content{
      font-size: 14px;
      display: block; 
  }
}

.icon-container {
  width: 100px;
  height: 89px;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.status-circle {
  width: 16px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid white;
    bottom: 0px;
    right: 14px;
    position: absolute;

}
