.navbar {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;

  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.08));

  display: flex;
  flex-direction: row;
}

.navbar-body {
  min-height: calc(100vh - 70px);
}

.navbar .item {
  width: 25%;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
}

.navbar img {
  width: 32px;
  height: 32px;
  margin: 0px;
}

.navbar p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.navbar .active {
  color: #85296B;
}

.navbar .inactive {
  color: #C4C4C4;
}