.footer {
  height: 308px;
}

.footer .background {
  width: 100%;
  height: 308px;
  z-index: -1;
}

.footer .content {
  width: 100%;
  position: absolute;
  top: 92px;
  left: 0;
  text-align: center;
}

.footer p {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer .contact {
  height: 48px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 16px;
}

.footer .box-logo {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .logo {
  width: 31px;
  height: 34px;
}

.footer .contact-info {
  text-align: left;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer .divider {
  width: 1px;
  height: inherit;
  background: #fff;
}

.footer .socmed {
  height: 32px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 16px;
}

.footer .socmed img {
  width: 32px;
  height: 32px;
}

.footer .copyright {
  margin-top: 16px;
  font-style: normal;
  font-weight: 350;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}