.carousel {
  overflow: hidden;
  height: 212px;
  background-color: #fff;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 212px;
  background-color: #fff;
  color: #000;
}

.carousel-item a {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel .arrow {
  position: absolute;
  top: 0;
  height: 212px;
  width: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.carousel .arrow img {
  width: 6px;
  height: 12px;
}

.carousel .arrow-left {
  left: 0;
  padding-left: 8px;
}

.carousel .arrow-right {
  right: 0;
  padding-left: 8px;
  transform: rotate(180deg);
}