body {
  background-color: #dae4eb;
}

/* .App {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  min-height: 100vh;
  max-width: 414px;
  background-color: #F2FAFF;
  font-family: 'Avenir';
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a { 
  color: inherit;
  text-decoration: none;
} 

.overlay-container {
  position: relative;
}

.admin {
  display: flex;
  flex-direction: row;
  font-family: 'Avenir';
}

.body-admin {
  position: absolute;
    left: 224px;
    padding: 40px;
    width: 1520px;
    height: 955px;
}

.admin table {
  margin: 40px 0px;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

.admin table, .admin th, .admin td {
  border: 1px solid #7A7A7A;
  border-collapse: collapse;
  overflow: auto;
  white-space: nowrap;
}

.admin table tbody img {
  width: 200px;
  height: 120px;
}

.admin table th {
  min-width: 40px;
  max-width: 350px;
  padding: 8px;
}

.admin th button {
  margin: 4px;
}

.admin table thead {
  background: #295985;
  color: #fff;
  text-align: center;
}
