.articles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.articles .item {
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 16px;

  cursor: pointer;
}

.articles img {
  height: 100px;
  width: 150px;
  border-radius: 8px;
}

.articles .content {
  max-width: 212px;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

.articles .see-full {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #85296B;

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.articles .article-title {
  height: 100%;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #2F2F2F;

  display: flex;
  align-items: center;
}

.see-full img {
  width: 4px;
  height: 8px;
  transform: rotate(180deg);
  border-radius: 0px;
}