
.body-admin form {
  margin-top: 16px;
}

/* .body-admin input:not([type='submit'],[type='checkbox']), .body-admin textarea {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  min-height: 20px;
  margin: 4px 0px;
} */

/* .body-admin input[type='submit'] {
  margin-left: 8px;
  width: 100px;
} */

.body-admin input[type='checkbox'] {
  width: 24px;
  height: 24px;
}

.body-admin .form-image {
  height: auto;
}

.body-admin .error {
  width: 100%;
  text-align: left;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #E62828;
}

.body-admin .title {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}

.body-admin .add {
  margin-bottom: 32px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  padding: 0px 16px;
}